[submodule "RF-mmdetection"]
	path = RF-mmdetection
	url = https://github.com/ShangHua-Gao/RF-mmdetection
	branch = rfsearch
[submodule "RF-mmcv"]
	path = RF-mmcv
	url = https://github.com/ShangHua-Gao/RF-mmcv/
	branch = rfsearch
